:root {
    --color1: #0d8007;
    --color2: #419f35;
    --color3: #74bf63;
    --color4: #a8df91;
    --color5: #dbffbf;
}

*{
    scroll-behavior: smooth;
    text-decoration: none;
    color: inherit;
    overflow-x: hidden;
}

body {
    margin: 0 -1em;
}

span {
    color: var(--color1);
}

.divisor {
    
    border-bottom: 1px solid var(--color1);
    box-shadow: 0 0 1em var(--color4), 0 1px 3px var(--color1);

}

header {
    z-index: 2;
    width: 100%;
    padding: 0.5em;

    position: fixed;
    top: 0;

    border-bottom: 1px solid var(--color1);
    box-shadow: 0 0 1em var(--color4);

    background-color: #fff;
}

header nav {

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    margin: 0.5em 2em 0.5em 4em;
    
    display: flex;
    flex-wrap: wrap;

    align-items: center;

    justify-content: space-between;
    background-color: #fff;
}

header nav .search input{
    border-style: none;
    background-color: rgb(224, 222, 222);
    border-radius: 3px;
}

input {
    resize: vertical;
    height: 2em;

    resize: horizontal;
    width: 10em;
}

header input {
    width: 30em;
}

header nav .search input::placeholder, 
header nav .search input:focus{
    color: rgb(177, 176, 176);
    text-indent: 0.7em;
    outline: 0;
}

header nav .socials {

    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    gap: 1em;

}

header .menu {
    visibility: hidden;
}

button {
    border-style: none;
    background: none;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    padding: 7px;
    
    cursor: pointer;

    transition: 0.6s;
}

.socials .meet{
    background-color: var(--color3);
    color: #fff;
    border-radius: 3px;

    transition: 0.5s;
}

.socials .github:hover,
.socials .linkedin:hover,
.socials .instagram:hover{

    color: var(--color2);
    transform: scaleX(1.1);
}

.socials .meet:hover {
    background-color: var(--color2);
}

header .logo{
    font-family: 'Righteous', cursive;
}

/*SECTIONS*/

section{
    margin: 4em 4em 3em;

    max-width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 6em;
}

.section .section1{
    margin-top: 4em;
    display: flex;
    gap: 25%;
}

section .section1 ul li{
    list-style: none;

    font-size: 1em;
}

.section img{
    max-width: 420px;
    width: 100%;
    height: auto;
    position: relative; 
}

/*SECTION SOFTSKILLS*/
.softskills {
    display: flex;
    columns: 3;
}

.softskills .box-1,
.softskills .box-2,
.softskills .box-3{
    text-align: center;

    width: 350px;
    margin: 1em 0 1em;
    border: 1px inset gray;

    transition: 0.5s;
}

.softskills .box-1:hover,
.softskills .box-2:hover,
.softskills .box-3:hover{
    box-shadow: 2px 8px 10px 8px var(--color4);

    transform: translateY(-0.25em);
}


/*SECTION CURRICULUM*/
section .box{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section .box button{
    padding: 2em;

    background-color: var(--color3);
    color: #fff;

    border-radius: 3px;
    transition: 0.7s;
}

.projects .projects button a{
    padding: 2em;
}

.projects .projects button{

    background-color: var(--color3);
    color: #fff;

    border-radius: 3px;
    transition: 0.7s;
}

section .box button:hover,
section .box button a:hover,
.projects .projects button:hover{
    background-color: var(--color2);
}

/*section projects*/
.projects .projects{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.projects .project-list ul li{
    margin-top: 0.5em;
}

.projects .project-list ul li button{

    display: grid;

    grid-auto-rows: max-content;
}


/*Section certifieds*/
.certifieds {
    display: flex;
    max-width: max-content;
    align-items: center;
    justify-items: center;

    gap: 1em;
    margin-left: 470px;
}

.certifieds ul li {
    margin-top: 0.5em;
}

.certifieds ul li button a {
    padding: 2em;
}

.certifieds ul li button{
    padding: 2em;

    background-color: var(--color3);
    color: #fff;

    border-radius: 3px;
    transition: 0.7s;
}

.certifieds ul li button:hover{
    background-color: var(--color2);
    
}

/*FOOTER*/
footer {

    padding: 2em;
    background: #fff;

    font-size: 1em;
    font-family: 'Righteous', cursive;
    
    text-align: center;
}

footer .logo {
    background: none;
    margin-bottom: 0.5em;
    z-index: 0;
}

footer .socials {
    columns: 3;
    width: auto;
}

footer .socials .instagram,
footer .socials .github,
footer .socials .linkedin{
    transition: 0.5s;
}

footer .socials .instagram:hover,
footer .socials .github:hover,
footer .socials .linkedin:hover{

    transform: translateY(-0.25em);
}

@media (max-width: 992px){

    *{
        overflow-x: hidden;
    }

    header {
        position: fixed;

        width: 100%;
        padding: 0.5em;
    }

    header .logo {
        text-indent: 2em;
    }

    header .search {
        width: 4em;
        border-radius: 3px;
    }

    .softskills {
        display: grid;

        grid-row: inherit;
        justify-content: center;

        grid-gap: 2em;
    }

    .softskills .box-1,
    .softskills .box-2,
    .softskills .box-3{
        height: 280px;
    }

    .project-list {
        display: grid;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .certifieds {
        display: inline;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

}

@media (max-width: 720px){
    *{
        max-width: 720px;
    }

    .softskills{
        margin-left: 90px;
    }

    .curriculum .box{
        margin-left: 40px;
    }

    .project-list{
        margin-left: 60px;
    }

    .certifieds {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .certifieds h1{
        text-indent: 2em;
    }

    footer {
        text-indent: 2em;
    }

}

@media (max-width: 420px){

    html {
        width: 100vw;
    }

    *{
        overflow-x: hidden;
    }

    header {
        z-index: 2;

        display: block;
        position: fixed;
        top: 0;

        border-bottom: 1px solid var(--color1);
        box-shadow: 0 0 1em var(--color4);

        background-color: #fff;
    }

    header nav {

        font-family: Verdana, Geneva, Tahoma, sans-serif;
    
        margin: 0.5em 2em 0.5em 2em;
        
        display: flex;
        flex-wrap: wrap;
    
        align-items: center;
    
        justify-content: space-between;
        background-color: #fff;
    }

    header .socials{
        visibility: hidden;
    }

    header .menu {
        visibility: visible;
    }

    header .search {
        display: flex;
    }

    section {
        margin: 1em 0;
    }

    section .section1 {
        display: flex;
        flex-wrap: wrap;
    }

    section .projects{
        display: flex;
        justify-content: center;
    }

    section .projects h1 {
        width: fit-content;
        margin: 0 0 0 2em;
    }

    section .project-list {
        margin: 0 2em 0;
        text-align: justify;
    }

    .certifieds {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;

        margin-left: -1em;
    }
}