:root {
    --color1: #0d8007;
    --color2: #419f35;
    --color3: #74bf63;
    --color4: #a8df91;
    --color5: #dbffbf;
}

*{
    scroll-behavior: smooth;
    text-decoration: none;
    color: inherit;
    overflow-x: hidden;
}

body {
    margin: 0 -1em;
}

span {
    color: var(--color1);
}

button{
    padding: 2em;
    display: flex;
    margin: 0.75em;
    align-items: center;
    border: 0;

    border-radius: 0.3em;
    background-color: var(--color3);
    color: #fff;

    transition: 0.7s;
}

button:hover{
    position: relative;
    background-color: var(--color2);
    border-bottom: 43px 5em var(--color5);
    box-shadow: 8px 5px 5px var(--color3);
    transform: perspective(1000px) translateZ(21px);
    cursor: pointer;
}

.divisor {
    
    border-bottom: 1px solid var(--color1);
    box-shadow: 0 0 1em var(--color4), 0 1px 3px var(--color1);

}

header {
    z-index: 2;
    padding: 0.5em;

    display: grid;
    position: sticky;
    top: 0;

    box-shadow: 0 0 1em var(--color4);

    background-color: #fff;
}

header nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    align-items: center;

    background-color: #fff;
}

header nav .search input{
    border-style: none;
    background-color: rgb(224, 222, 222);
    border-radius: 3px;
    height: 2em;
    width: 20em;
    margin-right: 0;
}

header nav .search input::placeholder,
header nav .search input:focus{
    color: rgb(177, 176, 176);
    text-indent: 0.7em;
    outline: 0;
}

header .menu {
    visibility: hidden;
}

header .socials button{
    padding: 1em;
}

header .socials{
    display: flex;
}

header .socials .github:hover,
header .socials .linkedin:hover,
header .socials .meet:hover{

    color: var(--color2);
    transform: scaleX(1.1);
}

header .logo{
    font-family: 'Righteous', cursive;
}

/*SECTIONS*/

section{
    margin: 4em 4em 3em;

    max-width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 6em;
}

.section .sobremim{
    margin-top: 4em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-count: 2;
    column-gap: 1em;
}

section .sobremim ul li{
    list-style: square;
    font-size: 1.3em;
    margin-top: 0.3em;
}

.section img{
    max-width: 420px;
    width: 70%;
    height: auto;
    position: relative; 
}

/*SECTION SOFTSKILLS*/
.softskills {
    display: flex;
    justify-content: center;
}

.softskills .box-1,
.softskills .box-2,
.softskills .box-3{
    text-align: center;
    margin: 1em 0 1em;
    width: 400px;
    border: 1px inset gray;
    border-radius: 0.3em;
    animation: 10s infinite border-animation;

    transition: 0.5s;
}

.softskills .box-1:hover,
.softskills .box-2:hover,
.softskills .box-3:hover{
    box-shadow: 13px 8px 10px 8px var(--color4);
    border-color: var(--color5);
    transform: translateY(-0.25em);
}

@keyframes border-animation {
    0%{
        box-shadow: 2px 8px 4px 6px var(--color4);
    }
    10%{
        box-shadow: 2px 8px 6px 2px var(--color4);
    }
    20%{
        box-shadow: 4px 8px 7px 6px var(--color4);
    }
    30%{
        box-shadow: 6px 8px 7px 2px var(--color4);
    }
    40%{
        box-shadow: 8px 8px 7px 6px var(--color4);
    }
    50%{
        box-shadow: 10px 8px 7px 2px var(--color4);
    }
    60%{
        box-shadow: 8px 8px 7px 6px var(--color4);
    }
    70%{
        box-shadow: 6px 8px 7px 2px var(--color4);
    }
    80% {
        box-shadow: 4px 8px 7px 6px var(--color4);
    }
    90%{
        box-shadow: 2px 8px 6px 2px var(--color4);
    }
    100%{
        box-shadow: 2px 8px 4px 6px var(--color4);
    }
}


/*SECTION CURRICULUM*/
section .box{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1em;
}

/*section projects*/
#projects .projects h1{
    justify-content: center;
    text-align: center;
}

.projects .project-list ul {
    display: flex;
    column-count: 3;
    column-gap: 1em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/*Section certifieds*/
.certifieds {
    text-align: center;
}

.certifieds ul{
    display: flex;
    column-count: 2;
    column-gap: 1em;
    justify-content: center;
    padding: 0;
}

/*FOOTER*/
footer {
    background: #fff;

    font-size: 1em;
    font-family: 'Righteous', cursive;
    
    text-align: center;
}

footer .logo {
    padding: 1em;
    background: none;
    z-index: 0;
}

footer .socials {
    columns: 3;
    width: auto;
}

footer .socials .instagram,
footer .socials .github,
footer .socials .linkedin{
    padding: 1em;
    transition: 0.5s;
}

footer .socials .instagram:hover,
footer .socials .github:hover,
footer .socials .linkedin:hover{
    color: var(--color2);
    transform: translateY(-0.25em);
}

@media (max-width: 992px){

    *{
        overflow-x: hidden;
    }

    header {
        position: fixed;

        width: 100%;
        padding: 0.5em;
    }

    header .logo {
        text-indent: 2em;
    }

    header .search {
        border-radius: 3px;
    }

    .softskills {
        display: grid;

        grid-row: inherit;
        justify-content: center;

        grid-gap: 2em;
    }

    .softskills .box-1,
    .softskills .box-2,
    .softskills .box-3{
        height: 280px;
    }

    .project-list {
        display: grid;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .certifieds {
        display: inline;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

}

@media (max-width: 720px){
    *{
        max-width: 720px;
    }

    .softskills{
        margin-left: 90px;
    }

    .curriculum .box{
        margin-left: 40px;
    }

    .project-list{
        margin-left: 60px;
    }

    .certifieds {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .certifieds h1{
        text-indent: 2em;
    }

    footer {
        text-indent: 2em;
    }

}

@media (max-width: 520px){

    *{
        max-width: 520px;
    }

    header {
        display: flex;

        right: 0;
        width: 520px;
        height: 3em;
        position: fixed;
        padding: 16px 0;

        justify-content: space-between;

        column-count: 3;
    }

    header nav {
        margin-left: 2em;

    }

    header nav .logo{
        margin-right: 8px;
    }

    header nav .socials {
        gap: 0;
    }

    .sobremim {
        display: flex;
        flex-flow: column;
    }

    .projects .projects {
        display: inline;
    }

    .projects .projects h1 {
        text-align: center;
        text-indent: 2em;
    }

}

@media (max-width: 420px){

    html {
        width: 100vw;
    }

    *{
        overflow-x: hidden;
    }

    header {
        z-index: 2;

        display: block;
        position: fixed;
        top: 0;

        border-bottom: 1px solid var(--color1);
        box-shadow: 0 0 1em var(--color4);

        background-color: #fff;
    }

    header nav {

        font-family: Verdana, Geneva, Tahoma, sans-serif;
    
        margin: 0.5em 2em 0.5em 2em;
        
        display: flex;
        flex-wrap: wrap;
    
        align-items: center;
    
        justify-content: space-between;
        background-color: #fff;
    }

    header .socials{
        visibility: hidden;
    }

    header .menu {
        visibility: visible;
    }

    header .search {
        display: flex;
    }

    section {
        margin: 1em 0;
    }

    section .sobremim {
        display: flex;
        flex-wrap: wrap;
    }

    section .projects{
        display: flex;
        justify-content: center;
    }

    section .projects h1 {
        width: fit-content;
        margin: 0 0 0 2em;
    }

    section .project-list {
        margin: 0 2em 0;
        text-align: justify;
    }

    .certifieds {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;

        margin-left: -1em;
    }
}